{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Add Item</h2>
        <form action="/additem" method="post" class="input-form">
          <div class="input-form">
            <label for="title">Enter your to-do item: </label>
            <input type="text" title="title" id="name" required />
          </div>
          <div class="input form">
            <input type="submit" value="Add Item" />
          </div>
        </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
          <ul>
            <li>
              {% for i in list1 %}
                <h2>{{ i }}</h2>
              {% endfor %}
            </li>
          </ul>
      </ul>
    </div>
  </div>
{% endblock %}